{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Registro de usuario</title>
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>


</head>
<body class="body_custom">
<div class="row mx-0">
    <div class="col-lg-12 col-12 p-4">
        <div class="text-center text-color-white text-size-36" >
            <p>FORMULARIO DE CONTACTO</p>
        </div>
    </div>
    <div class="col-lg-12 col-12">
        <div class="text-center background-color-white mx-10">
            <div class="text-color-cian py-4">
                <h1>Contacto</h1>
            </div>
            <div class="row mx-0">
                <div class="col-6">
                    <div class="col-12"><p><i class="fas fa-envelope text-color-cian"></i> test@test.com</p></div>
                    <div class="col-12"><p><i class="fas fa-map-marker-alt text-color-cian"></i> Calle 1 No 1</p></div>
                    <div class="col-12"><p><i class="fas fa-phone text-color-cian"></i></i> (57) 3156165816</p></div>
                    <div class="row mx-0">
                        <div class="col-4"><i class="fa-brands fa-square-facebook text-color-cian text-size-40"></i></div>
                        <div class="col-4"><i class="fa-brands fa-square-twitter text-color-cian text-size-40"></i></div>
                        <div class="col-4"><i class="fa-brands fa-square-instagram text-color-cian text-size-40"></i></div>
                    </div>


                </div>
                <div class="col-6">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.media }}
                    <div class="row mx-0">
                        {% for campo in form%}
                            <div class="col-6 mx-0 px-0">
                                {% bootstrap_field campo %}
                            </div>
                        {% endfor %}
                    </div>
                        <button class="btn btn-primary" type="submit">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% bootstrap_javascript %}
</body>
</html>
